{% extends "shop/base.html" %}
{% load static %}
{% block subheader %}
<div id="subheader_block">
    <form class="form-inline my-2 my-lg-0" action="{% url 'shop:product_list' %}">
        <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search" name="search">
        <button class="btn btn-outline my-2 my-sm-0" type="submit">Поиск</button>
    </form>
    <div class="cart">
    {% with total_items=cart|length %}
        {% if cart|length > 0 %}
            В корзине:
            <a href="{% url 'cart:cart_detail' %}">
                {{ total_items }} шт.,
                {{ cart.get_total_price }} руб.
            </a>
        {% else %}
            Ваша корзина пуста.
        {% endif %}
    {% endwith %}
    </div>
</div>
{% endblock %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div id="sidebar">
        <h3>Категории</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">Все товары</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h1>


        {% for product in page_obj  %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                {{ product.price }} руб.
            </div>
        {% endfor %}

    </div>

{% endblock %}