{% extends "shop/base.html" %}
{% load static %}
{% block title %}
    {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
    <div id="sidebar">
        <h3>Категории</h3>
        <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a href="{% url 'shop:product_list' %}">Все товары</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="main" class="product-list">
        <h1>{% if category %}{{ category.name }}{% else %}Товары{% endif %}</h1>


        {% for product in page_obj  %}
            <div class="item">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}">
                </a>
                <a href="{{ product.get_absolute_url }}">{{ product.name }}</a><br>
                {{ product.price }} руб.
            </div>
        {% endfor %}
    </div>
    <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">&#60;&#60;</a>
                <a href="?page={{ page_obj.previous_page_number }}">&#60;</a>
            {% endif %}

            {% for page_number in page_obj.paginator.get_elided_page_range %}
                {% if page_number == page_obj.number %}
                    <span class="current-page">{{ page_number }}</span>
                {% else %}
                    <a href="?page={{ page_number }}">{{ page_number }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">&#62;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">&#62;&#62;</a>
            {% endif %}
    </div>
{% endblock %}