@import url(http://fonts.googleapis.com/css?family=Ubuntu);

body {
    margin:0;
    padding:0;
    font-family:helvetica, sans-serif;
    background-color: #ece0d1;
}

h1, h2, h3, h4, h5 , h6 {
    font-family: 'Ubuntu', sans-serif; font-weight:normal;
}

a {
    text-decoration:none;
    color: #000;;
}

a:hover {
    color:#A8B6A6;
}

a.button, input[type="submit"] {
    color:#fff;
    background:#A8B6A6;
    border-radius:4px;
    padding:10px 20px;
    font-size:14px;
    border:0;
}

a.button.light {
    color:#c77676;
    background:#ededed;
}

.text-left {
    text-align:left;
}

.text-right {
    text-align:right;
}

table {
    width:100%;
    border-spacing:0;
    border-collapse: collapse;
}

table th, table td {
    text-align:left;
    font-size:14px;
    padding:10px;
    margin:0;
}

tbody tr:nth-child(odd) {
    background:#efefef;
}

tbody tr.subtotal {
    background:#ccc;
}

thead th, tbody tr.total {
    background:#5993bb;
    color:#fff;
    font-weight:bold;
}

table.cart {
    margin-bottom:40px;
}

table.cart img {
    width:180px;
}

tbody td.num {
    text-align:right;
}

td input[type="submit"] {
    font-size:12px;
    padding:4px 10px;
}

form p label, form p input {
    float:left;
    clear:both;
}

form p label {
    font-size:14px;
    padding-bottom:4px;
}

form p input {
    width:300px;
    font-size:13px;
    margin-bottom:10px;
    padding:10px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

ul.errorlist {
   float:left;
   color:#000;
   clear:both;
   font-size:13px;
   margin:0;
   padding:0;
}


#header {
    padding:10px 100px;
    font-size:18px;
    overflow:auto;
}

#subheader {
    background-color: #dbc1ac;
    padding:15px 100px;
    overflow:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filter-label{
    margin-top: 10px;
}

.filter-input{
    padding: 8px;
    background-color: #ece0d1;
    border: 1px solid #A8B6A6;
    outline-color: #967259;
    border-radius: 4px;
}

.filter-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.filter-submit {
    padding: 8px 16px;
    background-color: #A8B6A6;
    margin-top: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.search-block {
    display: flex;
    align-items: center;
}

.search-line {
    padding: 8px;
    background-color: #ece0d1;
    border: 1px solid #A8B6A6;
    outline-color: #967259;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 8px;
    font-size: 16px;
}

.search-btn {
    padding: 8px 16px;
    background-color: #A8B6A6;
    color: #fff;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}


.sidebar-category{
    text-align: center;
}

/* Не обязательный стиль: */
.sub-category {
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }

#header .logo {
    font-family: 'Ubuntu', sans-serif;
    float:left;
    color:#333;
    font-size:22px;
    margin-right:10%;
}

#subheader .cart {
    float:left;
    padding-top:4px;
}

#content {
    overflow:hidden;
    padding:0 100px;
}

.list-content {
    display: flex;

}

#sidebar {
    width:220px;
    background-color: #F2E0BC;
    border-radius: 0 0 10px 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding:0 20px 0 0;
    float:left;
    display: flex;
    flex-direction: column;
}

#sidebar h3 {
    margin-left: 10px;
}

#sidebar ul{
    margin:0;
    margin-left: 10px;
    padding:0;
}



#sidebar ul li {
    margin:0;
    list-style:none;
    padding:10px 14px;
}

#sidebar ul li a {
    display:block;
}

#sidebar ul li.selected {
    background:#A8B6A6;
    border-radius:4px;
}

#sidebar ul li.selected a {
    color:#fff;
}

#main {
    float:left;
    width: 96%;
    margin-right:-220px;
    overflow:hidden;
}


.product-list .item {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:300px;
    height: 400px;

    padding:10px 10px 10px;
    float:left;
    text-align:center;
    line-height:1.2;
}


.product-list .item:hover{
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.25);
}

.product-list .item img {
    width:100%;
    border-radius: 10px;
    display: block;
    margin: 0 auto 10px;
}

.pagination {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #f2f2f2;
    color: #333;
    border: 1px solid #ccc;
}

.pagination .current-page {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
}

.product-detail {
    text-align:justify;
}

.product-detail .price {
    color:#333;
    font-size:28px;
    font-weight:bold;
}

.product-detail img {
    width:40%;
    float:left;
    border-radius: 10px;
}

.product-detail h1 {
    margin-bottom:0;
}

.product-detail h2 {
    margin-top:10px;
}

.order-form {
    float:left;
}

.order-info {
    float:right;
    width:300px;
    background:#efefef;
    padding:10px 20px;
    color:#333;
    border-bottom:4px solid #5993bb;
}

.order-info h3 {
    color:#5993bb;
}

.order-info ul li {
    margin:0;
    padding:0;
    font-size:14px;
}

.order-info p {
    font-weight:bold;
    float:right;
}

.order-info span {
    float:right;
}

.neg {
    color:#dc1616;
}

.languages {
   float:right;
   padding-top:4px;
   font-size:14px;
}

.languages ul {
    list-style:none;
    margin:0;
    padding:0;
    float:left;
}

.languages ul li {
    float:left;
    margin:0 0 0 10px;
    font-size:14px;
}

.languages p {
    float:left;
    margin:0;
}

.recommendations {
    clear:both;
}

.recommendations div {
    float:left;
}

.recommendations img {
    width:200px
}

.recommendations p {
    clear:both;
}

.recommendations.cart {
    width:60%;
    float:left;
    overflow:auto;
}

.recommendations.cart h3 {
    margin-top:0;
}

.recommendations.cart .item {
    margin-right:10px;
}

.recommendations.cart img {
    width:120px;
}

/* braintree hosted fields */
form div.field {
    font-size:13px;
    color:#666;
    width:300px;
    height:22px;
    margin-bottom:10px;
    padding:6px 12px;
    border:0;
    background:#efefef;
    color:#666;
    border-radius:4px;
}

/* Скрываем стандартную стрелку для выпадающего списка */
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Стилизуем фон и границу выпадающего списка */
select {
  padding: 10px;
  border: 1px solid #ccc;
}

/* Стилизуем варианты выбора */
select option {
  padding: 10px;
}

/* Изменяем цвет фона и текста для выбранного варианта */
select option:checked {
  background-color: #ccc;
  color: #fff;
}


.content-cart {
    display: flex;
    flex-direction: column;
}

.nav-btn {
    overflow:auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

/* футер */

.footer{
    background:#967259;
    padding:30px 0px;
    text-align:center;
}
.footer .row{
    width:100%;
    margin:1% 0%;
    padding:0.6% 0%;
    color:gray;
    font-size:0.8em;
    font-family: Montserrat-Talic, sans-serif;
    text-align: center;
}


.footer .row a{
    text-decoration:none;
    color:#000;
    transition:0.5s;
}

.footer .row a:hover{
    color:#fff;
}


.footer .row ul li{
    display:inline-block;
    margin:0px 30px;
}
.row-down{
    text-decoration: none;
}

.footer .row a i{
    font-size:2em;
    margin:0% 1%;
}

@media (max-width:720px){
.footer{
    text-align:left;
    padding:5%;
}
.footer .row ul li{
    display:flex;
    margin:10px 0px;
    text-align:center;
}
.footer .row a i{
    margin:0% 3%;
}
}